  
 
  body {
        min-height: 100vh;

        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        padding: 0;
        margin: 0;

        overflow-x: hidden;
        
        background-color: var(--white);
        position: relative;
      }
      :root{
        --white: #ececec;
        --turq: #9fd3c7;
        --navy: #385170;
        --dark-blue: #142d4c;
        --red: #780606;
        --green: #006039;
        --gold: #bba53d;
        --silver: #c4c4c4;
        --bronze: #CE8946;



      }
      section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      nav {
        display: flex;
        justify-content: space-around;

        min-height: 100px;

        background-color: var(--dark-blue);

        width: 100%;
        display: flex;
        
       
      }
      .header{
        position: sticky;
        top: 0px;
        z-index: 999;
      }
      .nav-links {
        display: flex;
        align-items: center;
        gap: 35px;
        list-style: none;

        font-size: 20px;

        transition: 250ms;

        z-index: 2;
      }
      .nav-links li:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-bottom: solid white 1px;
        
      }
      .nav-links li, a{
        color: var(--white);
        text-decoration: none;
      }
      .logo-container img {
        height: 75px;
      }
      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .fa-bars {
        color: var(--white);
        position: absolute;
        right: 20px;
        opacity: 0;
        top: 35px;

        font-size: 30px;
      }
      .fa-bars:hover {
        cursor: pointer;
      }
      .fa-x:hover {
        cursor: pointer;
      }
      .fa-x {
        color: var(--white);
        position: absolute;
        right: 20px;
        top: 35px;
        opacity: 0;

        font-size: 30px;

        height: 25px;

        z-index: 3;
      }
      .fa-brain{
        font-size: 46px;
        color: var(--white);
      }
      .fa-bars.active {
        opacity: 0;
      }
      .fa-x.active {
        opacity: 1;
      }
      .nav-links.active{
        right: 0px;
      }
   
      @media (width < 650px) {
        .fa-bars {
          opacity: 1;
          z-index: 3;
        }
        nav {
          justify-content: flex-start;
        }
        .nav-links {
          flex-direction: column;
          gap: 70px;
          padding-top: 70px;

          position: absolute;
          right: -300px;
          height: 100vh;
          top: 80px;

          background-color: var(--turq);

          border-top-left-radius: 25px ;

          box-shadow: 8px 8px 8px var(--navy);

          
          
        }
        .nav-links li:hover{
          border-bottom: none;
        }
        .logo-container {
          margin-left: 25px;
        }
        li a{
          color: var(--dark-blue);
          font-size: 25px;
          padding: 5px;

        }
        a:hover{
          background-color: var(--white);
          border-radius: 50px;
          box-shadow: 2px 4px 8px var(--navy);

        }
      }
      /* NAV END */
      /* INFO START */
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        width: max(90%, 1000px);

        padding: 50px;
      }
      p{
        font-size: 20px;
      }
    
     
      
      /* FOOTER */
      footer {
        background-color: var(--dark-blue);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        color: var(--white);

        margin-top: auto;

      }
      #footer-text{
        color: var(--white);
        font-size: 24px;
      }


/* ACTIVE STATES FOR NAV */

    .links.active {
    top: 100px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
}
.nav-links.active{
  left: 60%;
  box-shadow: 2px 2px 8px var(--dark-blue);
}

.equal.hidden {
    opacity: 0;
    z-index: -2;
}

.x.open {
    opacity: 1;
    z-index: 1;
}